html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Segoe UI";
    src: url('../fonts/segoeuil.ttf');
}

.main-container {
    width: 100%;
    background-color: #1d539d;
    color: white;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: "Segoe UI";
    padding: 10px;
    padding-top: 0;
    margin-bottom: 20px;
    margin-top: 80px;
}

.description {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.content {
    box-sizing: border-box;
    position: relative;
    margin: auto;
}


.content-body {
    min-width: 400px;
}

.col-md-4 {
    color: black;
}

h2 {
    font-size: 200%;
}

h3 {
    font-size: 150%;
    color: #1d539d
}

ul {
    list-style-type: none;
    padding: 0;
    margin-left: 1em;
}

li {
    padding-left: .33em;
}

.list-sheets {
    padding: 5px;
}

.list-heading {
    font-size: 150%;
    color: #1d539d
}

.main-scrollable, .main-scrollable2 {
    overflow: auto;
    border: 1px solid black;
    padding: 5px;
    background: oldlace;
    height: calc(100vh - 300px);
}

.main-scrollable2 {
    background: white;
    height: calc(100vh - 210px);
    margin:10px;
}

footer, .smallgray {
    font-size: 66%;
    color: grey;
    padding: 0;
    margin: 5px;
}

div.CodeMirror {
    height:100%;
}

.btn {
    margin-left: 5px;
    margin-right: 5px;
}