{% extends "app_sheet/layout.html" %}

{% load static %}
{% block content %}
    <div class="main-container">
        <div class="cloud-image">
            <img src="{% static "app/img/successCloudNew.svg" %}"/>
        </div>
        <div class="content">
            <div class="tweet-container">
                <a href="http://twitter.com/intent/tweet/?text=I%20just%20created%20a%20new%20Python%20Django%20website%20on%20Azure%20using%20Github%20Actions&hashtags=GithubActions%20%40Azure">
                    <img src="{% static "app/img/tweetThis.svg" %}"/>
                </a>
            </div>
            <div class="content-body">
                <div class="success-text">Success!</div>
                <div class="description line-1"> GitHub workflow has been successfully setup</div>
                <div class="description line-2"> Your Python Django app is up and running on Azure</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            {% include 'app_sheet/list_sheets.html' with title='My Sheets' sheets=mine %}
        </div>
        <div class="col-md-4">
            {% include 'app_sheet/list_sheets.html' with title='Templates' sheets=templates %}
        </div>
        <div class="col-md-4">
            {% include 'app_sheet/list_sheets.html' with title='Shared' sheets=shared %}
        </div>
    </div>

{% endblock %}
