{# sheets are passed in, grouped into sections #}

<h2>{{ title }}</h2>

<div class="main-scrollable">
    {% if sheets %}
        {% for group in sheets %}
            <div class="list-heading">{{ group.name }}</div>
            <div class="list-sheets">
                <ul>
                    {% for item in group.items %}
                        <li class="text-primary">
                            <a href="{% url 'sheet' item.id %}">
                                {% if item.owner == user %}
                                    {{ item.name }}
                                {% else %}
                                    <i>{{ item.name }}</i>
                                {% endif %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>None</p>
    {% endif %}
</div>

