{% if user.is_authenticated %}
    <form id="logoutForm" action="/logout" method="post" class="navbar-right">
        {% csrf_token %}
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_superuser %}
                <li><a class="nav-link" href="/admin">Admin</a></li>
            {% endif %}
            <li><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
        </ul>

    </form>

{% else %}

    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link" href="{% url 'login' %}">Log in</a></li>
        <li><a class="nav-link" href="{% url 'register' %}">Register</a></li>
    </ul>

{% endif %}
