{% extends "app_sheet/layout.html" %}
{% block content %}
    {% load crispy_forms_tags %}

    <h2>&nbsp;</h2>
    <h2>{{ sheet.name }} • {{ sheet.system }}</h2>

    <p>Make any changes you want to the following meta-data for your character sheet:</p>

    {% include 'app_sheet/messages.html' %}

    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Submit"/>
        </form>
    </div>
{% endblock %}
