{% extends "app_sheet/layout.html" %}
{% block content %}
    {% load crispy_forms_filters %}

    <div class="container" style="margin-top:40px">
        <h2>{{ sheet.name }} • {{ sheet.system }}</h2>

        <p>Set sheet information and associated images</p>

        {% include 'app_sheet/messages.html' %}

        <form action="" method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </form>
    </div>
{% endblock %}
