{% extends "app_sheet/layout.html" %}
{% block content %}
    {% load crispy_forms_filters %}

    <h2>&nbsp;</h2>
    <h2>{{ sheet.name }} • {{ sheet.system }}</h2>

    <p>
        Edit details on the character sheet.
    </p>
    <p>
        This is also where you can upload or modify image files.
    </p>
    <p>
        The total size of your images is subject to a limit, so if one file is big, the other must be small!
    </p>

    {% include 'app_sheet/messages.html' %}

    <div class="container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </form>
    </div>
{% endblock %}
