{% extends "app_sheet/layout.html" %}
{% block content %}

    {% load djangocodemirror_tags %}

    <h2>&nbsp;</h2>
    <h2>Sheet Editor</h2>


    <p class="smallgray">
        <i>Owner: </i> {{ sheet.owner }}
        &#x2022;
        <i>Created: </i> {{ sheet.created }}
        &#x2022;
        <i>Last Modified: </i> {{ sheet.modified }}
    </p>

    <form method="post" action="{% url 'action_dispatcher' sheet_id=sheet.id %}">{% csrf_token %}
        {% csrf_token %}
        <div class="main-scrollable2">
        <textarea id="sheet-edit" name="sheet">{{ sheet.content }}</textarea>
        </div>
        <input name="validate" class="btn btn-primary" type="submit" value="Prettify"/>
        <input name="generate" class="btn btn-primary" type="submit" value="Generate PDF"/>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <input name="save" class="btn btn-primary" type="submit" value="Save"/>
        <input name="revert" class="btn btn-primary" type="submit" value="Revert"/>

    </form>

    {% codemirror_instance 'restructuredtext' 'code_codemirror' 'sheet-edit' %}

{% endblock %}
