{% extends "app_sheet/layout.html" %}
{% block content %}

    {% load djangocodemirror_tags %}

    <h2>&nbsp;</h2>
    <h2>Sheet Editor</h2>


    {% if sheet %}
        <p class="smallgray">
            <i>Owner: </i> {{ sheet.owner }}
            &#x2022;
            <i>Created: </i> {{ sheet.created }}
            &#x2022;
            <i>Last Modified: </i> {{ sheet.modified }}
        </p>
        <div class="main-scrollable2">
        <textarea id="sheet-edit" name="sheet">
        {{ sheet.content }}
        </textarea>
        </div>
    {% else %}
        <p>No character sheet was specified</p>
    {% endif %}


    {% codemirror_instance 'restructuredtext' 'code_codemirror' 'sheet-edit'%}

{% endblock %}
