{% extends "app_sheet/layout.html" %}
{% block content %}

    {% load djangocodemirror_tags %}

    <h2>&nbsp;</h2>
    <h2>{{ sheet.name }} • {{ sheet.system }}</h2>


    <p class="smallgray">
        <i>Owner: </i> {{ sheet.owner }}
        &#x2022;
        <i>Created: </i> {{ sheet.created }}
        &#x2022;
        <i>Last Modified: </i> {{ sheet.modified }}
    </p>


    {% include 'app_sheet/messages.html' %}

    <form method="post" action="{% url 'action_dispatcher' sheet_id=sheet.id %}">{% csrf_token %}
        {% csrf_token %}
        <div class="main-scrollable2">
        <textarea id="sheet-edit" name="sheet">{{ edit_content }}</textarea>
        </div>
        <input name="validate" class="btn btn-primary" type="submit" value="Prettify"/>
        <input name="generate" class="btn btn-primary" type="submit" value="Generate PDF"
               onclick="window.open('', 'zeesheet-pdf-output', 'popup,left=100,top=100,width=612,height=792');"/>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>



        {% if permissions.save %}
            <input name="save" class="btn btn-primary" type="submit" value="Save"/>
        {% else %}
            <div style="display: inline-block" data-toggle="tooltip" data-placement="top"
                 title="You must be logged in and be the owner of a sheet to save it.">
            <input name="save.disabled" class="btn btn-primary" type="submit" value="Save" style="pointer-events: none" disabled/>
            </div>
        {% endif %}

        <input name="revert" class="btn btn-primary" type="submit" value="Revert"/>

        {% if permissions.clone %}
            <input name="clone" class="btn btn-primary" type="submit" value="Clone"/>
        {% else %}
            <div style="display: inline-block" data-toggle="tooltip" data-placement="top"
                 title="You must be logged in to create a copy of a sheet.">
            <input name="clone.disabled" class="btn btn-primary" type="submit" value="Clone"
                   data-toggle="tooltip" data-placement="top" disabled/>
            </div>
        {% endif %}

    </form>

    {% codemirror_instance 'restructuredtext' 'code_codemirror' 'sheet-edit' %}

{% endblock %}
{% block scripts %}

    {% if pdf_file %}
        <script>
            console.log('{{ pdf_file }} }}');
            window.open( "/display/{{ pdf_file }}", "zeesheet-pdf-output" );
        </script>
    {% endif %}

{% endblock %}
